* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: rgb(6, 6, 6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartao {
    width: 430px;
    height: 540px;
    background-color: #060606;
    border: 2px solid #d4af37;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
}
.imagem {
    width: 180px;
    height: 180px;
    border: 3px solid #d4af37;
    border-radius: 50%;
    margin: 0 auto 12px;
    object-fit: cover;
}
.cartao h1 {
    color: #d4af37;
    font-size: 25px;
}
.profissao {
    color: #d4af37;
    font-size: 16px;
}
hr {
    border: 0;
    border-top: 2px dashed #d4af37;
    margin: 22px 0;
}
.informacoes {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.informacoes p {
    color: #d4af37;
    font-size: 17px;
}
button {
    margin-top: 25px;
    padding: 11px 25px;
    background-color: #d4af37;
    color: #090909;
    border: 2px solid #d4af37;
    border-radius: 10px;
    font-size: 16px;
}